// COLORS
$light: #FFFFFF;

$primary: #000000;
$primary-s1: #535454; // shade - 1
$primary-s2: #F4F7FD; // shade - 2

$secondary: #FFFFFF;

$alert-success: #009D10;
$alert-warning: #FFD20C;
$alert-error: #EB5757;

$inactive: #535454;
$border: #DFDFDF;

$disabled-light: #999999;
$disabled-dark: #757575;

$light: #FFFFFF;
$dark: #040B17;
$dark-s1: #333333;

$sheet-light: #FFFFFF;
$sheet-dark: #00040C;

$regular-text: #252729;
// $secondary-text: #828282;
$inactive-text: #767676;
$secondary-text: #1062FF;

// TEXTS
$font: 'Montserrat', sans-serif;
$bold: 700;
$semi-bold: 600;
$regular: 400;

// DIMENSIONS
$border-width: 2px;
$border-radius: 2px;

$body-font-family: 'Montserrat', sans-serif;
$menu-content-border-radius: 2px;

$tooltip-background-color:rgba($dark, 0.95) !default;
